@font-face {
  font-family: 'TruenoLt';
  src: url("../fonts/TruenoLt.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'myriadpro-regular';
  src: url("../fonts/MyriadPro/myriadpro-regular.ttf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TruenoSBd';
  src: url("../fonts/trueno/TruenoSBd.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TruenoBd';
  src: url("../fonts/trueno/TruenoBd.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'TruenoLt';
  src: url("../fonts/trueno/TruenoLt.otf");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Audiowide';
  src: url("../fonts/Audiowide-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}

.header_nav_wrap {
  width: 100%;
  height: 80px;
  background: #472424;
}

.header_nav {
  max-width: 1200px;
  height: 80px;
  background: #472424;
  margin: auto;
  overflow: hidden;
}

.welcome_words {
  font-family: 'TruenoLt';
  color: white;
  font-size: 21pt;
  position: absolute;
  margin-left: 440px;
  margin-top: 20px;
  -webkit-animation-name: FirstText;
  animation-name: FirstText;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 3.5s;
  animation-delay: 3.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

@-webkit-keyframes FirstText {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  95% {
    z-index: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes FirstText {
  0% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  95% {
    z-index: 1;
  }

  100% {
    opacity: 0;
    z-index: -1;
  }
}

.header_nav_bar {
  float: left;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.header_nav_bar > li:nth-child(2) {
  -webkit-animation-delay: 5.6s;
  animation-delay: 5.6s;
}

.header_nav_bar > li:nth-child(3) {
  -webkit-animation-delay: 6.4s;
  animation-delay: 6.4s;
}

.header_nav_bar > li:nth-child(4) {
  -webkit-animation-delay: 5.4s;
  animation-delay: 5.4s;
}

.header_nav_bar > li:nth-child(1) {
  -webkit-animation-delay: 6s;
  animation-delay: 6s;
}

.header_nav_bar_right {
  float: right;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.header_nav_bar_right > li:nth-child(1) {
  -webkit-animation-delay: 5.2s;
  animation-delay: 5.2s;
}

.header_nav_bar_right > li:nth-child(2) {
  -webkit-animation-delay: 5.5s;
  animation-delay: 5.5s;
}

.header_nav_bar_right > li:nth-child(3) {
  -webkit-animation-delay: 5.8s;
  animation-delay: 5.8s;
  margin-right: 5px;
}

.nav_item {
  margin-left: 5px;
  margin-top: 5px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  overflow: hidden;
  height: 70px;
  padding: 10px;
  color: white;
  font-family: 'TruenoLt';
  line-height: 50px;
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  font-size: 13pt;
  -webkit-animation-name: nav;
  animation-name: nav;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.nav_item:hover {
  background: #ff7373;
}

@-webkit-keyframes nav {
  0% {
    margin-top: -100px;
  }

  30% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  45% {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    margin-top: 25px;
  }

  60% {
    margin-top: 5px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    background: #ff7373;
  }

  100% {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}

@keyframes nav {
  0% {
    margin-top: -100px;
  }

  30% {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
  }

  45% {
    -webkit-transform: scaleY(0.5);
    transform: scaleY(0.5);
    margin-top: 25px;
  }

  60% {
    margin-top: 5px;
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    background: #ff7373;
  }

  100% {
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
  }
}

.header_undernav_wrap {
  background: #623232;
  width: 100%;
  height: 150px;
}

.header_undernav {
  max-width: 1200px;
  margin: auto;
}

.logo_box {
  float: left;
  width: 420px;
  margin-top: 55px;
}

.logo_left,
.logo_right {
  font-family: 'Audiowide';
  font-size: 35px;
  float: left;
}

.logo_left_word {
  float: left;
  background-image: url(../img/line_logo.jpg);
  -webkit-background-clip: text;
  background-position: -400px -30px;
  color: transparent;
  -webkit-animation-name: linelogo;
  animation-name: linelogo;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes linelogo {
  from {
    background-position: -400px -30px;
  }

  to {
    background-position: 10px -30px;
  }
}

@keyframes linelogo {
  from {
    background-position: -400px -30px;
  }

  to {
    background-position: 10px -30px;
  }
}

.logo_left {
  margin-left: -500px;
  -webkit-animation-name: logoleft;
  animation-name: logoleft;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in;
}

@-webkit-keyframes logoleft {
  0% {
    opacity: 0;
    margin-left: -500px;
  }

  100% {
    opacity: 1;
    margin-left: 10px;
  }
}

@keyframes logoleft {
  0% {
    opacity: 0;
    margin-left: -500px;
  }

  100% {
    opacity: 1;
    margin-left: 10px;
  }
}

.logo_right_word {
  color: #ff7373;
  float: left;
  -webkit-animation-name: rightword;
  animation-name: rightword;
  -webkit-animation-duration: 3.5s;
  animation-duration: 3.5s;
  -webkit-animation-delay: 0.7s;
  animation-delay: 0.7s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  background-position: -250px 0px;
  margin-left: 10px;
}

@-webkit-keyframes rightwordshort {
  0% {
    color: #ff7373;
    margin-left: 0px;
  }

  25% {
    color: #ff7373;
    margin-left: 30px;
  }

  45% {
    color: white;
    margin-left: 0;
  }

  85% {
    color: white;
  }

  100% {
    color: #ff7373;
  }
}

@keyframes rightwordshort {
  0% {
    color: #ff7373;
    margin-left: 0px;
  }

  25% {
    color: #ff7373;
    margin-left: 30px;
  }

  45% {
    color: white;
    margin-left: 0;
  }

  85% {
    color: white;
  }

  100% {
    color: #ff7373;
  }
}

@-webkit-keyframes rightword {
  0% {
    color: #ff7373;
    margin-left: 10px;
    letter-spacing: 0px;
  }

  25% {
    color: #ff7373;
    margin-left: 30px;
    letter-spacing: 20px;
  }

  45% {
    letter-spacing: 0px;
    color: white;
    margin-left: 0;
  }

  85% {
    color: white;
  }

  100% {
    color: #ff7373;
    margin-left: 0;
  }
}

@keyframes rightword {
  0% {
    color: #ff7373;
    margin-left: 10px;
    letter-spacing: 0px;
  }

  25% {
    color: #ff7373;
    margin-left: 30px;
    letter-spacing: 20px;
  }

  45% {
    letter-spacing: 0px;
    color: white;
    margin-left: 0;
  }

  85% {
    color: white;
  }

  100% {
    color: #ff7373;
    margin-left: 0;
  }
}

.undernav_nav {
  float: right;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  width: 600px;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  font-family: 'TruenoLt';
  color: white;
  font-size: 15pt;
  margin-top: 65px;
  height: 70px;
}

.undernav_item {
  cursor: pointer;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
  border-bottom: 7px solid transparent;
}

.undernav_item:hover {
  border-bottom: 7px solid #ff7373;
  color: #ff7373;
}

.crown {
  position: absolute;
  width: 33px;
  height: 35px;
  margin-top: -30px;
  margin-left: -2px;
  overflow: hidden;
}

.icon_crown {
  font-size: 20pt;
  -webkit-transform: scaley(0.8);
  -ms-transform: scaley(0.8);
  transform: scaley(0.8);
  color: #ff7373;
  margin-top: 50px;
  margin-left: -1px;
  -webkit-animation-name: crown;
  animation-name: crown;
  -webkit-animation-duration: 1.5s;
  animation-duration: 1.5s;
  -webkit-animation-delay: 1.5s;
  animation-delay: 1.5s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
}

@-webkit-keyframes crown_425 {
  from {
    margin-top: 50px;
  }

  to {
    margin-top: 13px;
  }
}

@keyframes crown_425 {
  from {
    margin-top: 50px;
  }

  to {
    margin-top: 13px;
  }
}

@-webkit-keyframes crown {
  from {
    margin-top: 50px;
  }

  to {
    margin-top: 0px;
  }
}

@keyframes crown {
  from {
    margin-top: 50px;
  }

  to {
    margin-top: 0px;
  }
}

.top_menu_425,
.under_nav_425 {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  height: 80px;
  width: 100%;
  background: #472424;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  display: none;
  -ms-flex-pack: distribute;
  justify-content: space-around;
}

.menu_425_item {
  width: 20%;
  height: 60px;
  color: white;
  font-family: 'myriadpro-regular';
  text-align: center;
  line-height: 60px;
  cursor: pointer;
  -webkit-animation-name: menu425;
  animation-name: menu425;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  opacity: 0;
  -webkit-transition: 0.5s;
  -o-transition: 0.5s;
  transition: 0.5s;
}

.menu_425_item:hover {
  background: #ff7373;
}

.item_425_2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.item_425_3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.item_425_4 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.item_425_5 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.item_425_6 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.item_425_7 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}

.item_425_8 {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}

@-webkit-keyframes menu425 {
  0% {
    opacity: 0;
  }

  25% {
    background: #ff7373;
  }

  75% {

  }

  100% {
    opacity: 1;
  }
}

@keyframes menu425 {
  0% {
    opacity: 0;
  }

  25% {
    background: #ff7373;
  }

  75% {

  }

  100% {
    opacity: 1;
  }
}

.item_425_8 {
  margin-top: 25px;
  width: 45px;
  height: 8px;
  background: #ff7373;
  border-radius: 5px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
}

.item_425_8:before {
  position: absolute;
  margin-top: -15px;
  margin-left: -22px;
  width: 45px;
  height: 8px;
  background: #ff7373;
  border-radius: 5px;
  content: "";
}

.item_425_8:after {
  position: absolute;
  margin-top: 15px;
  margin-left: -22px;
  width: 45px;
  height: 8px;
  background: #ff7373;
  border-radius: 5px;
  content: "";
}

.add_menu {
  position: absolute;
  right: 3%;
  width: 17%;
  height: 50px;
  margin-left: 120px;
  margin-top: 5px;
  position: absolute;
  cursor: pointer;
}

.add_menu:hover > .drop_menu {
  z-index: 1;
}

.drop_menu {
  position: absolute;
  right: 90%;
  width: 470%;
  height: 60px;
  margin-top: -5px;
  margin-left: -330px;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  z-index: -1;
}

.drop_menu_item {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 33.3%;
  height: 50%;
  float: left;
  font-family: 'TruenoLt';
  background: #472424;
  color: white;
  font-size: 10pt;
  text-align: center;
  line-height: 25px;
  opacity: 0;
  -webkit-transition: 1s;
  -o-transition: 1s;
  transition: 1s;
  cursor: pointer;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
  animation-fill-mode: backwards;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.drop_menu_item:hover {
  background: #ff7373;
}

.add_menu:hover > .drop_menu > .drop_menu_item {
  opacity: 1;
  -webkit-animation-name: drop_items;
  animation-name: drop_items;
}

.drop_item_2 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.drop_item_3 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.drop_item_4 {
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.drop_item_5 {
  -webkit-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

@-webkit-keyframes drop_items {
  0% {
    opacity: 0;
    background: #472424;
  }

  50% {
    background: #ff7373;
  }

  100% {
    opacity: 1;
    background: #472424;
  }
}

@keyframes drop_items {
  0% {
    opacity: 0;
    background: #472424;
  }

  50% {
    background: #ff7373;
  }

  100% {
    opacity: 1;
    background: #472424;
  }
}

@media screen and (max-width: 1024px) {
  .welcome_words {
    font-size: 17pt;
    margin-left: 400px;
  }

  .undernav_nav {
    width: 550px;
  }
}

@media screen and (max-width: 768px) {
  .welcome_words {
    margin-left: 280px;
  }

  .logo_box {
    margin-left: 10px;
  }

  .undernav_nav {
    width: 330px;
    font-size: 10px;
  }
}

@media screen and (max-width: 425px) {
  .header_nav_wrap {
    display: none;
  }

  .header_undernav_wrap {
    width: 100%;
  }

  .logo_box {
    width: 300px;
    margin-left: 20px;
  }

  .logo_left,
  .logo_right {
    font-size: 21pt;
  }

  .logo_right_word {
    -webkit-animation-name: rightwordshort;
    animation-name: rightwordshort;
  }

  .undernav_nav {
    display: none;
  }

  .icon_crown {
    -webkit-animation-name: crown_425;
    animation-name: crown_425;
    font-size: 15pt;
    margin-left: 1px;
  }

  .top_menu_425,
  .under_nav_425 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}